summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.summary {
    color: rgb(189, 65, 86);
}

.summary::before {
    content: '\2192';
    padding-right: 0.5em;
}

.details[open]>summary::before {
    content: '\2193';
}