@import 'vars';
@import 'mixins';

.cart {
    padding-top: 96px;
    padding-bottom: 128px;
    display: grid;


    &__box {
        display: grid;
        gap: 40px;
    }

    &__item {
        display: flex;
        width: 652px;
        height: 306px;
        box-shadow: 17px 19px 24px 0px #00000021;
        position: relative;
    }

    &__item_content {
        padding: 22px 31px 62px;
        display: flex;
        flex-direction: column;
    }

    &__heading {
        @include font(400, 24px, normal);
        color: #222;
        margin-bottom: 42px;
    }

    &__text {
        @include font(400, 22px, normal);
        color: #575757;

        &_price {
            color: $select-color;
        }
    }

    &__text:not(:last-child) {
        margin-bottom: 6px;
    }

    &__quantity {
        display: flex;
        align-items: flex-end;
    }

    &__input {
        @include font(400, 18px, normal);
        color: #656565;
        width: 44px;
        height: 25px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        border: 1px solid #EAEAEA;
        text-indent: 16px;
        margin-left: 24px;


        &:focus {
            outline: 2px solid $select-color;
        }
    }

    &__close {
        position: absolute;
        right: 22px;
        top: 28px;

        &:hover path {
            fill: $select-color;

        }
    }


}

.address {
    &__heading {
        @include font(300, 16px, normal);
        color: #222;
        margin-bottom: 21px;
    }

    &__form {
        display: grid;
        gap: 22px;
    }

    &__input {
        width: 360px;
        height: 44px;
        text-indent: 16px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        border: 1px solid #A4A4A4;
        outline: none;

        &:focus {
            outline: 2px solid $select-color;
            border-color: $select-color;
        }

        &::placeholder {
            color: #222;
            font-family: Lato;
            font-size: 13px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }

    &__button {
        width: 100px;
        height: 35px;
        color: #4A4A4A;
        font-family: Lato;
        font-size: 11px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        border-radius: 0;
        box-sizing: border-box;
        background-color: white;
        border: 1px solid #A4A4A4;

    }
}