@import 'vars';
@import 'mixins';

.filter-sort {
    height: 134px;
    display: flex;
    align-items: center;
}

.filter {


    &__summary {
        @include font(600, 14px, normal);
        color: #000;
        display: flex;
        gap: 11px;
        align-items: center;
    }

    &:first-child {
        margin-right: 320px;
    }

    &[open] summary {
        color: $select-color;

    }

    &[open] path {
        fill: $select-color;
    }

    &__content {}
}

.sort-box {
    display: flex;
    gap: 48px;
}

.sort {
    &__summary {
        @include font (400, 14px, normal);
        color: #6F6E6E;
    }

    &>summary::after {
        content: '';
        display: inline-block;
        width: 10px;
        height: 5px;
        background: url(./img/summary-close.svg) no-repeat;
        background-size: cover;
        margin-left: 9px;
        margin-bottom: 3px;
    }

    &[open]>summary::after {
        content: '';
        display: inline-block;
        width: 10px;
        height: 5px;
        background: url(./img/summary-close.svg) no-repeat;
        background-size: cover;
        margin-left: 9px;
        margin-bottom: 3px;
    }
}

.pagination {
    width: 283px;
    height: 43px;
    border: 1px #EBEBEB solid;
    padding: 13px 40px;
    box-sizing: border-box;
    margin: 0 auto 96px;
    position: relative;

    &__list {
        @include flex (row, center, space-between);
    }


    &__link {
        @include font (300, 16px, normal);
        color: #C4C4C4;
        position: relative;

        &-active {
            color: #EF5B70;
        }
    }

    &__item:last-child::before {
        content: '......';
        @include font (300, 16px, normal);
        color: #C4C4C4;
        position: relative;
        position: absolute;
        right: 55px;
    }

    &__nav:first-child {
        position: absolute;
        top: 15px;
        left: 15px;
    }

    &__nav:last-child {
        position: absolute;
        top: 15px;
        right: 15px;
    }
}