@mixin flex ($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin font ($weight, $size, $line) {
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $line;
}