@import 'vars';
@import 'mixins';


.product {
    padding-top: 75px;

    &__header {
        min-height: 148px;
        background-color: #F8F3F4;

        &_content {
            @include flex(row, center, space-between);
            min-height: 148px;
        }

        &_link {
            @include font (400, 24px, normal);
            color: $select_color;
        }

        &_breadcrumbs {

            &_link {
                @include font(300, 14px, normal);
                color: #636363;
            }

            &_link:last-child {
                color: $select_color;
                font-weight: 600;
            }

            &_link:not(:last-child)::after {
                content: '\/';
                margin-left: 6px;
                margin-right: 6px;
            }
        }

    }


    &__info {
        margin-bottom: 130px;

        &_description {
            @include flex(column, center, normal);
            padding: 65px;
            width: 1110px;
            height: 470px;
            border: 1px solid #EAEAEA;
            background-color: white;

            &_heading {
                @include font(300, 14px, normal);
                color: $select_color;
                text-align: center;
                margin-bottom: 15px;
            }

            &_heading::after {
                content: '';
                display: block;
                margin: 12px auto 0;
                width: 63px;
                height: 3px;
                background: $select-color;
            }

            &_title {
                @include font(300, 18px, normal);
                color: #4D4D4D;
                text-align: center;
                margin-bottom: 47px;
            }

            &_text {
                @include font(300, 14px, normal);
                max-width: 555px;
                text-align: center;
                margin-bottom: 32px;

            }

            &_price {
                @include font (300, 24px, normal);
                color: #EF5B70;
                text-align: center;
                margin-bottom: 65px;

            }

            &_price::after {
                content: '';
                display: block;
                margin: 65px auto 0;
                width: 641px;
                height: 1px;
                background: #EAEAEA;


            }

            &_filters {
                @include flex(row, center, center);
                gap: 42px;
                margin-bottom: 47px;
            }

            &_filter {
                @include font(400, 14px, normal);
                color: #6F6E6E;
            }

            &_button {
                @include flex(row, center, center);
                width: 212px;
                height: 48.406px;
                flex-shrink: 0;
                border: 1px $select_color solid;
                background-color: white;
                color: $select_color;
                gap: 23px;

            }
        }
    }
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 5px;
    background: url(./img/summary-close.svg) no-repeat;
    background-size: cover;
    margin-left: 9px;
    margin-bottom: 3px;
}

details[open]>summary::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 5px;
    background: url(./img/summary-close.svg) no-repeat;
    background-size: cover;
    margin-left: 9px;
    margin-bottom: 3px;
}


.slider {
    height: 777px;
    justify-content: center;
    background-color: #F7F7F7;
    position: relative;


    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 47px;
        height: 47px;
        background-image: url(./img/slider_nav_left.svg);
        background-size: cover;
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 47px;
        height: 47px;
        background-image: url(./img/slider_nav_right_active.svg);
        background-size: cover;
    }

    &__content {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0 auto;
    }


}



.product-featured__items {
    @include flex (row, normal, center);
    flex-flow: wrap;
    gap: 30px;
    margin-bottom: 130px;
}