@keyframes animate_grow {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes swing {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.center {
  max-width: 1140px;
  margin: 0 auto;
}

.content {
  padding-left: 2%;
  padding-right: 2%;
}

.header {
  background: #222224;
  min-height: 75px;
  position: relative;
}
.header__content {
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content-left {
  display: flex;
  align-items: flex-end;
  gap: 40px;
}
.header__content-right {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}

.fixed {
  position: fixed;
  z-index: 10000;
  width: 100%;
}

.mobile-menu {
  position: absolute;
  visibility: hidden;
  right: 0;
  top: 75px;
  width: 232px;
  height: 634px;
  background: white;
  padding: 32px;
  transition: visibility 0.2s;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  box-sizing: border-box;
  z-index: 1;
}
.mobile-menu__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 24px;
}
.mobile-menu__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}
.mobile-menu__list:not(:last-child) {
  margin-bottom: 20px;
}
.mobile-menu__link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #6F6E6E;
  margin-left: 32px;
}
.mobile-menu__link:hover {
  color: #F16D7F;
}
.dropdown:hover .mobile-menu {
  visibility: visible;
}

.basket {
  position: relative;
}
.basket::after {
  position: absolute;
  content: "5";
  background: #F16D7F;
  color: white;
  display: grid;
  align-content: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  top: -20%;
  right: -25%;
}

.promo {
  display: flex;
  width: 100%;
  background: #F1E4E6;
  margin: 0 auto 65px;
  padding-top: 75px;
}
.promo__image {
  width: 50%;
}
.promo__content {
  display: flex;
  align-items: center;
}
.promo__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}
.promo__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
.promo__heading-highlight {
  color: #F16D7F;
}
.promo__info {
  border-left: 12px solid #F16D7F;
  height: 92px;
  padding-left: 16px;
}

.animate-grow {
  animation: animate_grow 2s infinite;
}

.offer {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 96px;
}
.offer__item {
  position: relative;
  transition: transform 0.6s;
}
.offer__item:hover {
  transform: scale(110%);
}
.offer__item-big {
  min-height: 180px;
  grid-column: 1/-1;
}
.offer__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: white;
}
.offer__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #F16D7F;
}

.featured__content {
  margin-bottom: 48px;
  text-align: center;
}
.featured__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 6px;
}
.featured__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}
.featured__items {
  display: flex;
  flex-flow: wrap;
  gap: 30px;
  margin-bottom: 48px;
  justify-content: center;
}
.featured__item {
  width: 360px;
  height: 581px;
  background: #F8F8F8;
  position: relative;
}
.featured__add {
  position: absolute;
  top: 30%;
  left: 30%;
  border: 1px solid white;
  width: 139px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: white;
}
.featured__item:hover .featured__img {
  filter: brightness(0.5);
}
.featured .featured__item:hover .featured__add {
  display: flex;
}
.featured__item-content {
  padding: 25px 29px 19px 16px;
}
.featured__item-heading {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: black;
}
.featured__item-text {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}
.featured__item-price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 96px;
}

.button-content {
  border: 1px solid #F16D7F;
  width: 211px;
  height: 47px;
  display: grid;
  justify-content: center;
  align-items: center;
  transition: all 0.6s;
}

.button-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.button:hover .button-content {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
}

.button:hover .button-text {
  color: white;
}

.advantages {
  background: #222224;
  min-height: 340px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.advantage {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-width: 360px;
}

.swing:hover {
  animation: swing 1s ease;
  animation-iteration-count: 1;
}

.advantage-icon {
  margin-bottom: 28px;
}

.advantages-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: white;
  margin-bottom: 16px;
}

.advantages-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: white;
}

.subscription {
  min-height: 448px;
  background: rgba(244, 244, 244, 0.7);
  background: url(/img/subscription-background-big.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  max-width: 360px;
  margin-right: 327px;
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.quote-image {
  margin-bottom: 30px;
}

.quote-text {
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.subscribe-info {
  text-align: center;
  margin-bottom: 32px;
}

.subscribe-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}

.subscribe-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form-input {
  background: white;
  height: 34px;
  width: 168px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  padding: 7px 64px 6px 22px;
  border-radius: 30px 0px 0px 30px;
  border: 1px solid white;
}

.subscribe-form-input:focus {
  border: 1px solid #F16D7F;
  border-right: none;
}

.subscribe-button {
  display: flex;
  background: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  border: none;
  color: white;
  width: 100px;
  height: 49px;
  justify-content: center;
  border-radius: 0px 30px 30px 0px;
  transition: all 0.6s;
}

.subscribe-button:hover {
  background-color: white;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.subscribe-button:active {
  color: white;
  background: #F16D7F;
  border-color: none;
}

.footer {
  background: #222224;
  color: white;
  display: flex;
  justify-content: space-evenly;
  min-height: 79px;
  align-items: center;
}

.footer-social {
  display: flex;
  gap: 7px;
}

.footer-social-link {
  display: block;
  width: 32px;
  height: 32px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.6s;
}

.footer-social-link path {
  transition: fill 0.6s;
}

.footer-social-link:hover {
  background-color: #F16D7F;
}

.footer-social-link:hover path {
  fill: white;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .promo__title {
    font-size: 44px;
    line-height: 53px;
  }
  .promo__heading {
    font-size: 24px;
    line-height: 29px;
  }
  .promo__info {
    height: 92px;
    padding-left: 16px;
  }
  .offer {
    gap: 20px;
    margin-bottom: 110px;
  }
  .offer__item-big {
    min-height: 116px;
  }
  .featured-content {
    margin-bottom: 75px;
  }
  .featured-items {
    gap: 16px;
  }
  .advantages {
    grid-template-columns: none;
    min-height: 610px;
    align-content: center;
    gap: 50px;
  }
  .subscription {
    flex-direction: column;
    min-height: 693px;
    background: url(/img/subscription-background-medium.jpg) no-repeat center;
    background-size: cover;
    gap: 48px;
  }
  .quote {
    margin-right: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .content {
    padding-left: 4%;
    padding-right: 4%;
  }
  .header__content-link:not(:first-child) {
    display: none;
  }
  .header-right {
    flex-direction: row-reverse;
  }
  .promo {
    min-height: 363px;
    justify-content: center;
  }
  .promo__title {
    font-size: 38px;
    line-height: 46px;
  }
  .promo__heading {
    font-size: 20px;
    line-height: 24px;
  }
  .promo__image {
    display: none;
  }
  .promo__info {
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .offer {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-bottom: 64px;
  }
  .offer__item-big {
    min-height: 116px;
  }
  .featured-content {
    margin-bottom: 64px;
  }
  .featured-items {
    gap: 17px;
    margin-bottom: 42px;
  }
  .button {
    margin-bottom: 85px;
  }
  .advantages {
    grid-template-columns: none;
    min-height: 610px;
    align-content: center;
    gap: 50px;
  }
  .subscription {
    flex-direction: column;
    min-height: 693px;
    background: url(/img/subscription-background-medium.jpg) no-repeat center;
    background-size: cover;
    gap: 48px;
  }
  .quote {
    margin-right: 0;
  }
  .footer {
    flex-direction: column;
    padding-top: 43px;
    padding-bottom: 9px;
  }
  .footer-social {
    order: -1;
    margin-bottom: 41px;
  }
}/*# sourceMappingURL=style.css.map */