@font-face {
    font-family: 'Gilroy-Bold';
    src: url('/fonts/gilroy-bold.eot');
    /* IE 9 Compatibility Mode */
    src: url('/fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('/fonts/gilroy-bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/fonts/gilroy-bold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('/fonts/gilroy-bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/fonts/gilroy-bold.svg#gilroy-bold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('/fonts/gilroy-medium.eot');
    /* IE 9 Compatibility Mode */
    src: url('/fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('/fonts/gilroy-medium.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/fonts/gilroy-medium.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('/fonts/gilroy-medium.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/fonts/gilroy-medium.svg#gilroy-medium') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('/fonts/gilroy-semibold.eot');
    /* IE 9 Compatibility Mode */
    src: url('/fonts/gilroy-semibold.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('/fonts/gilroy-semibold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/fonts/gilroy-semibold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('/fonts/gilroy-semibold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/fonts/gilroy-semibold.svg#gilroy-semibold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/gilroy-regular.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/gilroy-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/gilroy-regular.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/gilroy-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/gilroy-regular.svg#gilroy-regular') format('svg');
    /* Chrome < 4, Legacy iOS */
}

* {
    padding: 0;
    margin: 0;
}

main {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

a {
    font-family: 'Gilroy-Bold';
    text-decoration: none;
}

.top-header {
    display: grid;
    grid-template-columns: 137px 687px;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.top-content {
    margin-top: 96px;
    padding-bottom: 162px;
    display: grid;
    grid-template-columns: 522px 544px;
    justify-content: start;
    align-items: start;
    gap: 41px;
}

.title {
    font-family: 'Gilroy-Bold';
    margin-bottom: 17px;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}

.description {
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}

.top-action {
    padding-top: 37px;
    display: flex;
    gap: 27px;
    align-items: center;
}

.top-action a {
    display: flex;
    align-items: center
}


.navigation-link {
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 16px;
    color: black;
    display: block;
}

.navigation-link.active {
    color: #F25822;
}

.navigation-button {
    width: 120px;
    height: 40px;
    background: #F25822;
    border-radius: 30px;
    border: none;
}

.action-button {
    border: none;
    width: 140px;
    height: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
}

.button-text {
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.header-navigation .button-text {
    font-family: 'Gilroy-SemiBold';
    font-size: 12px;
    line-height: 14px;
}

.link {
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
    margin-left: 15px;
}

.top-logos {
    margin-top: 97px;
    margin-bottom: 97px;
    display: flex;
    justify-content: space-between;
}

.about-us {
    background-color: #FAFAFA;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-image: url(/img/about-us-bg-element.svg);
    background-repeat: no-repeat;
}

.about-us .content {
    display: grid;
    width: 1170px;
    grid-template-columns: 483px 1fr;
    margin: 0 auto;
}

.about-us-info {
    padding-top: 127px;
    padding-bottom: 124px;
}

.heading {
    font-family: 'Gilroy-Bold';
    font-size: 45px;
    line-height: 53px;
    color: #000000;
    margin-bottom: 20px;
}

.content .action-button {
    margin-top: 20px;
}

.description-section {
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 150%;
    color: #666666;
}


.subheading {
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 17px;
}

.read-more {
    font-size: 11px;
    line-height: 150%;
    color: #000000;
    display: block;
    margin-top: 25px;
}

.highlite {
    background: #FFFFFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.services {
    background-color: #FAFAFA;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.services .content {
    display: grid;
    justify-items: center;
    padding-top: 92px;
    padding-bottom: 100px;
}

.service-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.service-card {
    width: 370px;
    height: 549px;
    padding: 15px 30px 50px 30px;
    margin-top: 55px;
    background: #FFFFFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
    display: grid;
    justify-items: center;
}

.service-card p {
    text-align: center;
}

.services p {
    max-width: 682px;
    text-align: center;
}

.subtitle {
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.features {
    display: grid;
    justify-content: center;
    grid-template-columns: 370px 370px 370px;
    gap: 60px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.feature {
    width: 370px;
    height: 291px;
    padding: 40px 30px 25px 30px;
}